.header {
  grid-column-start: 1;
  grid-row-start: 1;
}

.header   
  .logo {
    display: block;
    margin: auto;
    &__img {
      display: block;
    }
  }
  
.nav {
  margin: auto;
  display: grid; 
  align-items: center;
  min-height: 88px;
  max-width: 1280px;
}

.profile {
  margin-inline-start: auto;
}

.ul {
    margin-inline-end: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 8px;
}

.logo,
.profile {
  grid-column-start: 1;
  grid-row-start: 1;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
  